h2 {
  font-size: 25px;
  margin: 0;
  }

.task {
padding: 5px 5px 0 5px;
height: 100%;
display: grid;
gap: 3px;
grid-template-columns: 2fr 1fr;
grid-template-rows: 150px 1fr;
grid-template-areas: 
"mainHeader mainHeader"
"mainBodyLeft mainBodyRight";
}

.gridMain1 {
  padding: 5px;
  height: 100%;
  display: grid;
  gap: 3px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas: 
  "mainHeader mainHeader"
  "mainBodyLeft mainBodyRight";
  }

  .gridMain2 {
    padding: 5px;
    height: 100%;
    display: grid;
    gap: 3px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: 
    "mainHeader mainHeader"
    "mainBodyLeft mainBodyRight";
    }


.task div {
  border-radius: 1%;
}

.mainHeader {
background-color: rgb(224, 243, 245);
grid-area: mainHeader;
display: flex;
/* border: 1px solid black; */

}

.mainHeader1-box1 {
padding: 10px;
display: flex;
flex-direction: column;

}

.mainHeader1-box2 {
  padding: 10px;
  display: flex;
  /* flex-direction: column; */
  
}


.mainHeaderLeft {
  display: flex;
  align-items: center;
}

.mainBodyLeft {
  padding: 10px;
  background-color: rgb(224, 243, 245);
  grid-area: mainBodyLeft;
  /* border: 1px solid rgb(0, 0, 0); */
}

.mainBodyLeftTask div {
  /* border: 1px solid black; */
}
.mainBodyLeftTask {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid black; */
}

  .table-task {
    padding: 10px;
    border: 2px solid rgb(6, 122, 122); /* Задаем рамку */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

/* Таблица для вывода списка задач */
  table {
    width: 100%;
    border-collapse: collapse;
}
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2; /* Цвет заголовка */
}
tr:nth-child(even) {
    background-color: #e9e9e9; /* цвет для четных строк */
}
tr:nth-child(odd) {
    background-color: #d0d0d0; /* цвет для нечетных строк */
}

.mainBodyRight {
  padding: 10px;
  background-color: rgb(224, 243, 245);
  grid-area: mainBodyRight;
}

  .iframe-kalendar {
    border: 2px solid rgb(6, 122, 122); /* Задаем рамку */
    width: 500px; /* Ширина 100% */
    height: 450px; /* Высота 500 пикселей */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
}


